main {
    background-color: $mainBgColor;
    position: relative;
    .banner {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/banners/bannerContact.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .banner-title {
            width: 50%;
            background-color: $primaryColor70;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0px;

                @include mobile{
                    width: 95% !important;
                } 


            h2 {
                @extend .poppins-regular;
                width: 100%;
                color: $primaryColor;
                font-size: 1.5rem;
                text-align: center;
            }

            p {
                @extend .poppins-regular;
                width: 60%;
                color: $primaryColor;
                font-size: 1.0rem;
                text-align: center;

            }
        }
    }

    .from {
        width: 50% ;
        height: auto;
        margin: 0 auto;
        border: 0;
        padding: 20px 0px;
        background-color: transparent;

        @include mobile{
            width: 90% !important;
        }
     

        form {
            width: 100%;
            border: 1px solid #ced4da;
            border-radius: 15px;
            padding: 20px;

            label{
                @include mobile{
                    font-size: 1.5rem !important;
                } 
            }

            input,
            select {
                width: 60% ;
                @include mobile{
                    width: 100% ;
                    height: 60px;
                    font-size: 1.3rem;
                }
            }
            textarea {
                @include mobile{
                    font-size: 1.3rem;
                }
            }
            .btn-primary{
                @include mobile{
                    width: 100%;
                    height: 50px;
                    font-size: 1.5rem;
                } 
            }
            .userName {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                input[type=text] {
                    width: 49.5% !important;
                }
            }

            .error {
                color: red;
            }

            #website {
                display: none;
            }
            
        }
    }

}